<a href="https://colab.research.google.com/github/Nur9702/15-dars/blob/main/10_MA%CA%BCLUMOTLARGA_ISHLOV_BERISH_10_25_YAKUNIY_AMALIY_VAZIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#**10-modul. Maʼlumotlarga ishlov berish. Fayllar va maʼlumotlar ombori**

#**10.25. Modul boʻyicha yakuniy amaliy vazifa**

**Amaliyotni bajargach, fayllar bilan ishlash, API va veb sahifalardan ma’lumot olish, SQL soʻrovlarini yozish va ma’lumotlar omboriga ma’lumot saqlash koʻnikmalariga ega boʻlasiz.**

#**Fayldan oʻqish va yozish**

#**1) CSV fayldan maʼlumotlarni o‘qish**
* https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/data_date.csv havolasidagi maʼlumotlarni `df` oʻzgaruvchisiga saqlang!
* `df` dan tasodifiy 10 ta qatorni ekranga chiqaring!

In [ ]:
#javobni shu yerda yozing.
url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/data_date.csv"
import pandas as pd

df = pd.read_csv(url)
df.sample(10)

#**2) CSV fayliga yozish**
* Quyidagi maʼlumotlardan dataframe yarating va uni `people_data.csv` fayliga saqlang.
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```
* Quyidagi maʼlumotlardan yana bir dataframe yarating va uni `people_data_2.csv` fayliga saqlang.
```
{
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35]
}
```

In [ ]:
#javobni shu yerda yozing.
data = {
  "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
  "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
  "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
df1 = pd.DataFrame(data)
df1.to_csv('people_data.csv', index=False)
display(df1.head())

In [ ]:
data1 = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35]
}
df2 = pd.DataFrame(data1)
df2.to_csv('people_data_2.csv', index=False)
df2.info()

#**3) HDF5 formati bilan ishlash**
* Yuqorida yaratgan dataframeʼlaringizni `people.h5` faylida saqlang.
* `people.h5` faylidagi barcha jadvallarni oʻqing!

In [ ]:
#javobni shu yerda yozing.
df1.to_hdf('people.h5', key='df1', mode='w')
#df2.to_hdf('people.h5', key='df2', mode='a')

df1_read = pd.read_hdf('people.h5', key='df1')
#df2_read = pd.read_hdf('people.h5', key='df2')

print("People.h5:")
display(df1_read)

#print("\nDataFrame 2 from HDF5:")
#display(df2_read)

#**4) JSON fayllar bilan ishlash**
1. Quyidagi maʼlumotlarni dataframe koʻrinishida oʻqing va uni `data.json` fayliga yozing!
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```

In [ ]:
#javobni shu yerda yozing.
data2 = {
 "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
 "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
 "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
df3 = pd.DataFrame(data2)
df3.to_json('data.json', index=False)
display(df3)

#**5) APIʼlar bilan ishlash**
1. Quyida berilgan API 17 mingdan ortiq kriptovalyutalarning dollarga nisbatan narxi haqidagi maʼlumotlarni saqlaydi. Siz esa endi:
  * API orqali barcha maʼlumotlarni yigʻib oling;
  * ularni dataframe koʻrinishida saqlang;
  * maʼlumotlar boshidan 5 ta qatorni ekranga chiqaring;
  * maʼlumotlar ichidan `bitcoin` ni izlab toping!

In [ ]:
coins_url = "https://api.coingecko.com/api/v3/coins/list"
#javobni shu yerda yozing.
import requests

response = requests.get(coins_url)
coins_data = response.json()
df_coins = pd.DataFrame(coins_data)
display(df_coins.head())

In [ ]:
bitcoin_info = df_coins[df_coins['id'] == 'bitcoin']
display(bitcoin_info)

#**6) APIʼlar bilan ishlash**
1. Yuqorida berilgan kriptovalyuta maʼlumotlaridan `id` ustunini roʻyxat koʻrinishida saqlang va bu roʻyxatga `coin_ids` deb nom bering.
2. https://api.coingecko.com/api/v3/simple/price?ids={coin_ids}&vs_currencies=usd havolasi orqali kriptovalyutalarning `usd` ga nisbatini oling (birinchi 100 ta maʼlumotni olish yetarli).
3. 2-shartda berilgan link orqali olingan maʼlumotlarni dataframe koʻrinishida saqlang. Bunda uning indeksi va `usd` ustuni boʻlsin. `index` -> kriptovalyutalar nomi, `usd` -> narxi

#**💡Ishora:** linkdagi `{coin_ids}` oʻzgaruvchi sifatida yozilgan. Siz ham 1-shartda saqlagan `coin_ids` oʻzgaruvchingizni shu qismda yozib keting!

In [ ]:
coin_ids = df_coins['id'].tolist()

price_url = f"https://api.coingecko.com/api/v3/simple/price?ids={','.join(coin_ids[:100])}&vs_currencies=usd"
#javobni shu yerda yozing.
response = requests.get(price_url)
price_data = response.json()
df_prices = pd.DataFrame.from_dict(price_data, orient='index')
df_prices.columns = ['usd']
display(df_prices)

#**7) Veb sahifadan oʻqish**
1. Pandas yordamida veb sahifadagi jadvalni yuklab oling.
2. Ma’lumotlarni dataframe ko‘rinishida chiqaring.
3. Agar sahifada bir nechta jadval bo‘lsa, eng muhimini tanlang.
4. Ma’lumotni tozalang (bo‘sh qatorlarni olib tashlang, kerakli ustunlarni tanlang).
5. Natijani CSV faylga saqlang.

***Eslatma: manba sifatida oʻzingiz istagan veb sahifani tanlang. Bu vazifada mustaqil izlanishni oʻrganasiz!***

In [ ]:
#javobni shu yerda yozing.
url = "https://www.olx.uz/"
try:
    tables = pd.read_html(url)
    # Assuming the table you want is the first one on the page
    df_web = tables[0]
    display(df_web.head())
except Exception as e:
    print(f"An error occurred: {e}")
    print("Please make sure the URL is correct and the page contains a table.")

# **Maʼlumotlar ombori bilan ishlash**

#**8) Maʼlumotlar omborini yuklash va ulanish**
1. https://github.com/alishermutalov/praktikum-datasets/blob/praktikum/chinook.db havolasi orqali maʼlumotlar omborini yuklab oling.
2. Yuklab olingan maʼlumotlar omboriga sqlite3 moduli yordamida **ulaning**.

In [ ]:
!wget https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/praktikum/chinook.db

In [ ]:
!unzip chinook.zip

In [ ]:
#javobni shu yerda yozing.
import sqlite3

db_file = 'chinook.db'
try:
    conn = sqlite3.connect(db_file)
    print(f"Successfully connected to {db_file}")
except sqlite3.Error as e:
    print(f"Error connecting to database: {e}")

#**9) Maʼlumotlar omboriga soʻrov yuborish**
1. Jadvallar roʻyxatini koʻring. Ularning ichida `albums` jadvali boʻlsa, shu jadvaldagi barcha maʼlumotlarni (qatorlarni) ekranga chiqaring.
2. Qatorlar soni nechta ekanini aniqlab, uni ham ekranga chiqaring.
3.`albums` jadvalining ustunlari haqidagi maʼlumotlarni ekranga chiqaring.

In [ ]:
import pandas as pd

if 'conn' in locals() and conn is not None:
    albums_df = pd.read_sql_query("SELECT * FROM albums;", conn)
    display(albums_df.head())
else:
    print("Bu jadval topilmadi.")

In [ ]:
if 'albums_df' in locals():
    print(f"Soni: {albums_df.shape[0]}")
else:
   "xxx"
display(albums_df.head())

In [ ]:
albums_df.info()

#**10) SQL to DataFrame**
1. `albums` jadvalini `pandas.DataFrame` ga oʻtkazing!

In [ ]:
#javobni shu yerda yozing.
import pandas as pd

# Assuming 'conn' is your active sqlite3 connection object
if 'conn' in locals() and conn is not None:
    albums_df = pd.read_sql_query("SELECT * FROM albums;", conn)
    display(albums_df.head())
else:
    print("Bu ma'lumot topilmadi.")

#**11)**  `chinook.db` maʼlumotlar omboridan `tracks` jadvalining birinchi 10 ta qatorini ekranga chiqaring

#💡Ishora: LIMIT

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    tracks_df = pd.read_sql_query("SELECT * FROM tracks LIMIT 10;", conn)
    display(tracks_df.head(10))

#**12)**`tracks` jadvalidan faqat `Name`, `Composer` ustunlarini tanlab oling!

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    tracks_df1 = pd.read_sql_query("SELECT Name, Composer FROM tracks;", conn)
    display(tracks_df1.head())
else:
    print("Bog'lanmagan-topilmadi")

#**13) ORDER BY , DISTINCT**
* `tracks` jadvalidagi takrorlanmaydigan `GenreId` qiymatlarini oling.
* `tracks` jadvalidagi treklarni `Milliseconds` ustuni bo‘yicha kamayish tartibida saralang.

#💡Ishora: ORDER BY , DISTINCT

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    tracks_df2 = pd.read_sql_query("SELECT DISTINCT GenreId FROM tracks;", conn)
    display(tracks_df2.head())

In [ ]:
if 'conn' in locals() and conn is not None:
    tracks_df3 = pd.read_sql_query("SELECT * FROM tracks ORDER BY Milliseconds DESC;", conn)
    display(tracks_df3.head())

#**14) Filtering**
 * `invoices` jadvalidan `Total` summasi 10 dan katta bo‘lgan maʼlumotlarni tanlang.

# 💡Ishora: WHERE

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    invoices_df4 = pd.read_sql_query("SELECT * FROM invoices WHERE Total > 10;", conn)
    display(invoices_df4.head(10))

#**15) CREATE and INSERT**
* `chinook.db` maʼlumotlar omboriga `users` jadvali yarating. Jadval maydonlari (ustunlar):
  * `id`
  * `name`
  * `birth_date`
* Yaratilgan `users` jadvaliga quyidagi maʼlumotlarni qoʻshing:

    * ```
    [
    ('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22),
    ('Frank', 40), ('Grace', 27), ('Hannah', 32), ('Ivy', 29), ('Jack', 31),
    ('Kevin', 33), ('Liam', 26), ('Mia', 24), ('Noah', 36), ('Olivia', 23),
    ('Peter', 39), ('Quinn', 37), ('Rachel', 34), ('Samuel', 41), ('Tina', 21)
]
 ```

#💡Ishora: CREATE TABLE, INSERT

In [ ]:
#javobni shu yerda yozing.
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    birth_date INTEGER
);
"""
if 'conn' in locals() and conn is not None:
    try:
        cursor = conn.cursor()
        cursor.execute(create_table_query)
        conn.commit()
        print("Table 'users' created successfully.")
    except sqlite3.Error as e:
        print(f"Error creating table: {e}")
else:
    print("Database connection is not established.")

In [ ]:
# inserting
data5 = [
('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22),
('Frank', 40), ('Grace', 27), ('Hannah', 32), ('Ivy', 29), ('Jack', 31),
('Kevin', 33), ('Liam', 26), ('Mia', 24), ('Noah', 36), ('Olivia', 23),
('Peter', 39), ('Quinn', 37), ('Rachel', 34), ('Samuel', 41), ('Tina', 21)
]
insert_query = """
INSERT INTO users (name, birth_date)
VALUES (?, ?);
"""

if 'conn' in locals() and conn is not None:
    try:
        cursor = conn.cursor()
        cursor.executemany(insert_query, data5)
        conn.commit()
        print(f"{len(data5)} records inserted into 'users' table.")
    except sqlite3.Error as e:
        print(f"Error inserting data: {e}")
else:
    print("Database connection is not established.")

In [ ]:
if 'conn' in locals() and conn is not None:
        users_df = pd.read_sql_query("SELECT * FROM users;", conn)
        display(users_df)

#**16) UPDATE and DELETE**
* `users` jadvalidagi Alice ismli foydalanuvchining yoshini yangilang.
* `users` jadvalidan Alice ismli foydalanuvchini o‘chiring.

In [ ]:
#javobni shu yerda yozing.
update_query = "UPDATE users SET birth_date = ? WHERE name =?;"
if 'conn' in locals() and conn is not None:
    try:
        cursor = conn.cursor()
        cursor.execute(update_query, (26, 'Alice'))
        conn.commit()
        print("Yangilandi.")
    except sqlite3.Error as e:
        print(f"Hatolik bo'ldi: {e}")

In [ ]:

delete_query = "DELETE FROM users WHERE name = ?;"
if 'conn' in locals() and conn is not None:
    try:
        cursor = conn.cursor()
        cursor.execute(delete_query, ('Alice',))
        conn.commit()
        print("Alice deleted successfully.")
    except sqlite3.Error as e:
        print(f"Error deleting data: {e}")

if 'conn' in locals() and conn is not None:
    users_df = pd.read_sql_query("SELECT * FROM users;", conn)
    display(users_df)

#**17) f-string yordamida SQL komandalarini yozish**
* `customers` jadvalidan `FirstName` va `LastName` bo‘yicha qidiruv qiladigan f-string yozing.

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    first_name_to_search = "Luís"
    last_name_to_search = "Gonçalves"

    search_query = f"SELECT * FROM customers WHERE FirstName = '{first_name_to_search}' AND LastName = '{last_name_to_search}';"

    try:
        customers_df = pd.read_sql_query(search_query, conn)
        display(customers_df)
    except sqlite3.Error as e:
        print(f"Error executing query: {e}")

#**18)  AND and OR operators**

* `invoices` jadvalidan `BillingCountry` Germaniya yoki Fransiya boʻlgan va `Total` summasi 5 dan katta bo‘lgan kerakli qatorlarni tanlang.

#💡Ishora: AND, OR

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    query = """
    SELECT * FROM invoices WHERE (BillingCountry = 'Germany' OR BillingCountry = 'France') AND Total > 5;
    """
    try:
        invoices_filtered_df = pd.read_sql_query(query, conn)
        display(invoices_filtered_df.head())
    except sqlite3.Error as e:
        print(f"Hatolik bor: {e}")

#**19) BETWEEN and LIKE**

* `invoices` jadvalidan `Total` summasi 5 dan 15 gacha bo‘lgan qatorlarni tanlang.
* `customers` jadvalidan ismi `A` harfi bilan boshlanadigan foydalanuvchilarni tanlang.

In [ ]:
#javobni shu yerda yozing.
if 'conn' in locals() and conn is not None:
    query1 = """ SELECT * FROM invoices WHERE Total BETWEEN 5 AND 15;
    """
    try:
        invoices_filter_df = pd.read_sql_query(query1, conn)
        print("Invoices with Total between 5 and 15:")
        display(invoices_filter_df.head())
    except sqlite3.Error as e:
        print(f"Hatolik bor: {e}")

In [ ]:
 # Select customers whose names start with 'A'
if 'conn' in locals() and conn is not None:
    query2 = """
    SELECT * FROM customers WHERE FirstName LIKE 'A%';
    """
    try:
        customers_A_df = pd.read_sql_query(query2, conn)
        print("\nCustomers whose first name starts with 'A':")
        display(customers_A_df.head())
    except sqlite3.Error as e:
        print(f"Hatolik bor: {e}")

#**20) DataFrame to SQL**
* Quyidagi maʼlumotlardan dataframe yarating.
  ```
  sales_data = {
    "sale_id": list(range(1, 21)),  # 1 dan 20 gacha boʻlgan unikal IDʼlar
    "product_name": [
        "Laptop", "Smartphone", "Tablet", "Headphones", "Smartwatch",
        "Monitor", "Keyboard", "Mouse", "Printer", "Camera",
        "Speaker", "Game Console", "TV", "Router", "Power Bank",
        "Hard Drive", "USB Flash", "Graphics Card", "Microphone", "VR Headset"
    ],
    "quantity": [2, 5, 3, 10, 4, 6, 8, 12, 3, 5, 7, 9, 4, 2, 11, 6, 15, 1, 3, 2],
    "price": [1200, 800, 450, 200, 300, 500, 100, 50, 250, 700,
              150, 400, 1000, 90, 60, 110, 30, 1500, 80, 600],
    "sale_date": [
        "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-04", "2025-03-05",
        "2025-03-06", "2025-03-07", "2025-03-08", "2025-03-09", "2025-03-10",
        "2025-03-11", "2025-03-12", "2025-03-13", "2025-03-14", "2025-03-15",
        "2025-03-16", "2025-03-17", "2025-03-18", "2025-03-19", "2025-03-20"
    ]
}
```
*Yuqoridagi maʼlumotlar asosida yaratgan dataframeʼingizdan SQL jadvali tuzing va uni `sales` deb nomlang.

In [ ]:
#javobni shu yerda yozing.
sales_data = {
    "sale_id": list(range(1, 21)),  # 1 dan 20 gacha boʻlgan unikal IDʼlar
  "product_name": [
      "Laptop", "Smartphone", "Tablet", "Headphones", "Smartwatch",
      "Monitor", "Keyboard", "Mouse", "Printer", "Camera",
      "Speaker", "Game Console", "TV", "Router", "Power Bank",
      "Hard Drive", "USB Flash", "Graphics Card", "Microphone", "VR Headset"
  ],
  "quantity": [2, 5, 3, 10, 4, 6, 8, 12, 3, 5, 7, 9, 4, 2, 11, 6, 15, 1, 3, 2],
  "price": [1200, 800, 450, 200, 300, 500, 100, 50, 250, 700,
            150, 400, 1000, 90, 60, 110, 30, 1500, 80, 600],
  "sale_date": [
      "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-04", "2025-03-05",
      "2025-03-06", "2025-03-07", "2025-03-08", "2025-03-09", "2025-03-10",
      "2025-03-11", "2025-03-12", "2025-03-13", "2025-03-14", "2025-03-15",
      "2025-03-16", "2025-03-17", "2025-03-18", "2025-03-19", "2025-03-20"
  ]
}
sales_df = pd.DataFrame(sales_data)
display(sales_df.head())